{% extends "MdlpSitioBundle::base.html.twig" %}

{% block page_content %}

	<div class="main-shadow-wrapper container">
		
		<!-- ---- MAIN PROMOS ---- -->
		<section class="promos">
			<div class="container" style="padding:0;">
				
				<div class="row">
				
					<div class="error404">
						<h3>Caramba 404 !</h3>
						<p>La página no existe</p>
						<br>
						<p><a href="http://www.mardelaspampas.travel">Volvé a la página de inicio y seguí desde ahí</a></p>
					</div>
					
					
				</div>
			</div>
		</section>
							
		
	</div>

{% endblock %}