{% extends 'AppBundle:Sitio:template.html.twig' %}

{% block section_home_extra %}interna{% endblock %}
{% block content %}
	<section class="intContent">
		<div class="container">
			<h4>CARDIOLOGÍA CONSULTORIOS EXTERNOS</h4>
			<p>El servicio de cardiología del Sanatorio Sarmiento realiza estudios,  diagnósticos de  tratamiento y prevención de las enfermedades cardiovasculares.</p>
			<p>Contamos con equipamiento de última generación y un plantel profesional altamente capacitado.</p>

			<h4>Estudios que realizamos</h4>
			<ul>
				<li>CONTROL DE MARCAPASOS</li>
				<li>ECODOPPLER CARDIACO COLOR</li>
				<li>ECODOPPLER TRANSESOFAGICO</li>
				<li>ECODOPPLER DE VASOS DE CUELLO</li>
				<li>ECODOPPLER DE MIEMBRO SUPERIOR E INFERIOR</li>
				<li>ECOESTRESS</li>
				<li>ECOCARDIOGRAMA BIDIMENSIONAL CON BURBUJAS</li>
				<li>ECODOPPLER VENOSO</li>
				<li>ECODOPPLER ARTERIAL RENAL</li>
				<li>ELECTROCARDIOGRAMA</li>
				<li>ERGOMETRIAS DE 12 DERIVACIONES PARA ADULTOS Y NIÑOS A PARTIR DE LOS 10 AÑOS</li>
				<li>HOLTER TRES CANALES</li>
			</ul>

			<div class="highlight address">
				<p><i class="fas fa-map-marker-alt"></i><b>Ubicación: Av. Pte. Perón 1796 - San Miguel - Planta baja, 1º desnivel</b></p>
				<p><i class="fas fa-phone"></i><b>Atención de Lunes a Sábados consultar horarios en Turnos</b></p>
			</div>
		</div>
	</section>
{% endblock %}