{% extends 'AppBundle:Sitio:template.html.twig' %}

{% block section_home_extra %}interna{% endblock %}
{% block content %}
	<section class="intContent">
		<div class="container">
			<h4>Centro quirúrgico</h4>
			<div class="row">
				<div class="col-sm-8">
					<p> El centro quirúrgico del Sanatorio Sarmiento cuenta con  5 quirófanos, 2 salas de parto, 1 sala de recuperación, 1 quirófano ambulatorio.</p>
					<p>Un equipamiento de alta tecnología, sumado a la excelencia de nuestros profesionales, nos permite realizar todo tipo de cirugías convencionales por vía laparoscopia inclusive las de alta complejidad  como  la cirugía cardiovascular con y sin circulación extracorpórea, neurocirugía, cirugía bariátrica. </p>
					<p>El staff permanente de la planta quirúrgica se destaca por su calidad de atención y capacitación continua. </p>
					<p>Habilitación expedida por el INCUCAI para ablación e implantes de tejido óseo.</p>
					<p>El Sanatorio está categorizado con el Nivel 4, el máximo nivel que otorga el Ministerio de Salud de la Provincia de Buenos Aires.</p>
				</div>
				<div class="col-sm-4">
					<img src="/images/internas/sanatorio-general-sarmiento-09.jpg" alt="Sanatorio General Sarmiento - centro quirúrgico">
					<img src="/images/internas/sanatorio-general-sarmiento-10.jpg" alt="Sanatorio General Sarmiento - centro quirúrgico">
					<!--<img src="/images/internas/sanatorio-general-sarmiento-11.jpg" alt="Sanatorio General Sarmiento - Internación">-->
				</div>
			 </div>
		</div>
	</section>
{% endblock %}