{% extends 'AppBundle:Sitio:template.html.twig' %}

{% block section_home_extra %}interna{% endblock %}
{% block content %}
	<section class="intContent">
		<div class="container">
			<h4>cirugía cardiovascular</h4>
			<p>Nuestra metodología es la contención del paciente asistido por nuestro Servicio de cirugía cardiovascular; optimizando los recursos humanos y profesionales logrando asi la tranquilidad que él y su familia necesitan.<p>
			<p>Brindamos Atención con calidad y contención para su bienestar, con la mas alta tecnología unida a nuestras manos, los mejores resultados.</p>
			
			<h3>Cirugia Cardiovascular Central</h3>
			<ul>
				<li>By Pass aorto coronario</li>
				<li>Revascularización miocárdica sin circulación extracorpórea</li>
				<li>Defectos congénitos en adultos</li>
				<li>Aneurisma del cayado aórtico, ventrículo izquierdo, aorta ascendente</li>
				<li>Reemplazos valvulares, plásticas valvulares</li>
				<li>Tumores Cardiacos</li>
				<li>Cirugía de arritmias cardiacas</li>
			</ul>

			<h3>Cirugía vascular periférica</h3>
			<ul>
				<li>En arterias de la cavidad abdominal</li>
				<li>En arterias de los miembros</li>
				<li>En arterias del cuello</li>
				<li>En venas de los miembros</li>
				<li>Colocación de endoprótesis en aorta y sus ramas</li>
				<li>Procedimientos Híbridos</li>
			</ul>

			<div class="highlight address">
				<p><i class="fas fa-map-marker-alt"></i><b>Ubicación: Av Pte Perón 1796- San Miguel-Planta Baja Primer desnivel</b></p>
				<p><i class="fas fa-phone"></i><b>Recepción: Planta Baja</b></p>
				<p><i class="fas fa-hospital"></i><b>Atención de Lunes a Sábados, consultar horarios en Turnos.</b></p>
			</div>

		</div>
	</section>
{% endblock %}