{% extends 'AppBundle:Sitio:template.html.twig' %}

{% block section_home_extra %}interna{% endblock %}
{% block content %}
	<section class="intContent">
		<div class="container">
			<h4>Guardia de pediatría</h4>
			
			<p>Este servicio cuenta con guardia activa permanente las 24 hs ubicada en el entrepiso de nuestra Institución.</p>
			<p>Cuenta con tres consultorios de atención y una sala de shock room que permite la recepción y el inicio inmediato de las medidas terapéuticas requeridas por los pacientes en situaciones de emergencia, cuenta con 5 camas equipadas con instrumental e insumos, lo que permite brindar la primera atención de los pacientes en situación crítica,  servicio de enfermería y servicio de internación breve.</p>
			<p>Se atienden pacientes hasta los 13 años y cuenta con el respaldo permanente de los servicios de apoyo, incluyendo Laboratorio, Diagnóstico por Imágenes y el Centro Quirúrgico.</p>

			<div class="highlight address">
				<p><i class="fas fa-map-marker-alt"></i><b>Ubicación: Av. Pte. Perón 1796 - San Miguel - Entrepiso</b></p>
				<p><i class="fas fa-phone"></i><b>Atención los 365 dias del año, las 24 horas</b></p>
				<p><i class="fas fa-hospital"></i><b>Conmutador: (011) 4469-7300</b></p>
			</div>
		</div>
	</section>
{% endblock %}