{% extends 'AppBundle:Sitio:template.html.twig' %}

{% block section_home_extra %}interna{% endblock %}
{% block content %}
	<section class="intContent">
		<div class="container">
			<h4>Guardia de ginecología y obstetricia</h4>
			<p>Cuenta con una Guardia activa permanente, los 365 días del año, donde se resuelven las consultas y urgencias de la especialidad.</p>
			<p>El servicio se encuentra en contacto permanente y directo con el de Neonatología, ya que comparten la atención de la parturienta y el recién nacido.</p>
			<p>Se desempeñan en el servicio  médicos especialistas y  obstétricas, contamos con una sala de monitoreo fetal, centro quirúrgico y enfermería las 24 hs.</p>
			<div class="highlight address">
				<p><i class="fas fa-map-marker-alt"></i><b>Ubicación: Av. Pte. Perón 1796 - San Miguel - Recepción 1º desnivel</b></p>
				<p><i class="fas fa-phone"></i><b>Atención los 365 dias del año, las 24 horas</b></p>
				<p><i class="fas fa-hospital"></i><b>Conmutador: (011) 4469-7300</b></p>
			</div>
		</div>
	</section>
{% endblock %}