{% extends 'AppBundle:Sitio:template.html.twig' %}

{% block section_home_extra %}interna{% endblock %}
{% block content %}
	<section class="intContent">
		<div class="container">
			<h4>Guardia de neonatología</h4>
			<p>Se brinda atención de urgencia a neonatos, todos los días las 24 hs.<p>
			<p>Cuenta con profesionales altamente capacitados y tecnología de avanzada.</p>
			<div class="highlight address">
				<p><i class="fas fa-map-marker-alt"></i><b>Ubicación: Av. Pte. Perón 1796 - San Miguel - 2º piso</b></p>
				<p><i class="fas fa-phone"></i><b>Atención los 365 dias del año, las 24 horas</b></p>
				<p><i class="fas fa-hospital"></i><b>Conmutador: (011) 4469-7300</b></p>
			</div>
		</div>
	</section>
{% endblock %}