{% extends 'AppBundle:Sitio:template.html.twig' %}

{% block section_home_extra %}interna{% endblock %}
{% block content %}
	<section class="intContent">
		<div class="container">
			<h4>Guardia de traumatología y ortopedia</h4>

			<p>Este servicio cuenta con guardia activa permanente las 24 horas del día, los 365 días del año, en donde se brinda atención de urgencia a pacientes adultos y pediátricos que presenten traumatismos de cualquier grado de complejidad,  problemas de origen músculo-esquelético agudo o crónico, esguinces, traumatismos, dolores articulares, cervicalgias y lumbagias  , así como la resolución inmediata de cuadros que requieran procedimientos quirúrgicos de urgencia.</p>
			<p>La guardia es asistida por especialistas en Ortopedia y Traumatología.</p>
			<p>Además contamos con consultorios externos de traumatología con especialistas en rodilla, columna, miembro superior e inferior para continuar con la atención ambulatoria de acuerdo a la complejidad y necesidad de cada paciente.</p>
			<p>El Servicio a su vez cuenta con equipos técnicos e instrumental quirúrgico y de diagnóstico adecuado: radiología digital, tomografía axial computarizada, RMN y laboratorio las 24 horas.</p>

			<div class="highlight address">
				<p><i class="fas fa-map-marker-alt"></i><b>Ubicación: Av. Pte. Perón 1796 - San Miguel - Planta Baja</b></p>
				<p><i class="fas fa-phone"></i><b>Atención los 365 dias del año, las 24 horas</b></p>
				<p><i class="fas fa-hospital"></i><b>Conmutador: (011) 4469-7300</b></p>
			</div>
		</div>
	</section>
{% endblock %}