{% extends 'AppBundle:Sitio:template.html.twig' %}

{% block section_home_extra %}interna{% endblock %}
{% block content %}
	<section class="intContent">
		<div class="container">
			<h4>Hemodinamia</h4>
			<p>El servicio de hemodinamia ubicado en el cuarto piso del establecimiento se realizan prácticas de diagnóstico y /o tratamiento de tipo invasivo.</p>
			<p>En el servicio se realizán las siguientes prácticas:</p>
			<ul>
				<li>Coronariografia.</li>
				<li>Aortograma torácico</li>
				<li>Arteriografia de vasos del cuello extra e intracraneanos</li>
				<li>Aortograma abdominal y arteriografía de miembros inferiores</li>
				<li>Estudios de hemodinamia de cardiopatías congénitas simples y complejas (incluye oximetrías)</li>
				<li>Colocación de marcapaso transitorio</li>
				<li>Colocación de catéter swan ganz 4 vías</li>
				<li>Cavografía</li>
				<li>Angiograma pulmonar</li>
				<li>Flebografías</li>
				<li>Angiografía</li>
				<li>Angioplastia transluminal periférica (ATP)</li>
				<li>Colocación filtro vena cava inferior y Extracción</li>
				<li>Biopsia endomiocardica</li>
				<li>Valvuloplastias</li>
				<li>Angioplastias transluminal coronaria (PTCA)</li>
				<li>Angioplastia Carotidea</li>
				<li>Colocación de Endoprotesis en Aorta</li>
				<li>Cierre de CIA</li>
				<li>Implante valvular aórtico Percutáneo</li>
			</ul>
			<br><br>

			<h3>Estudios de Electrofisiología</h3>
			<ul>
				<li>Electrograma del Haz de Hiss</li>
				<li>Sobreestimulación cardiaca</li>
				<li>Inducción de Taquiarritmias</li>
				<li>Testeo de drogas</li>
				<li>Ablación Transcateter por radiofrecuencia</li>
				<li>Ablación Transcateter por radiofrecuencia por punción transeptal</li>
				<li>Colocación de marcapasos definitivo</li>
				<li>Cambio de Generador de Marcapaso</li>
				<li>Colocación de cardiodesfibrilador</li>
				<li>Control de Marcapasos (Electro + Consulta + Control)</li>
				<li>Control de Cardiodesfribilador (Electro + Consulta + Reprogramación)</li>
			</ul>

			<div class="highlight address">
				<p><i class="fas fa-map-marker-alt"></i><b>Ubicación: Av. Pte. Perón 1796 - San Miguel - 4º piso</b></p>
				<p><i class="fas fa-phone"></i><b>Recepción: Planta baja 1º desnivel</b></p>
			</div>
		</div>
	</section>
{% endblock %}