{% extends 'AppBundle:Sitio:template.html.twig' %}

{% block section_home_extra %}interna{% endblock %}
{% block content %}
	<section class="intContent">
		<div class="container">
			<h3>Hemoterapia</h3>
			<p>Nuestro Servicio tiene como objetivo proveerse a través del centro de hemoterapia de las unidades de componente sanguíneos necesarios para asegurar su transfusión.</p>
			
			<h4>Atención a pacientes</h4>
			<div class="highlight address">
				<p><i class="fas fa-map-marker-alt"></i><b>Ubicación: Av. Pte. Perón 1796 - San Miguel - Entrepiso consultorio 17</b></p>
				<p><i class="fas fa-phone"></i><b>Atención de Lunes a Viernes de 9:00 a 12:00 hs</b></p>
			</div>

			<h4>Atención de donantes</h4>
			<h5>Requisitos para donantes</h5>
			<ul>
				<li>Edad: 18 a 65 años</li>
				<li>Entre 16 y 18 años, con autorización de los padres</li>
				<li><strong>Concurrir con DNI</strong></li>
				<li>No es necesario estar en ayunas (Evitar grasas y lácteos )</li>
				<li>Estar en buen estado de salud</li>
				<li>Descansar bien previamente</li>
				<li>Pesar más de 50 kg</li>
			</ul>
			<div class="highlight address">
				<p><i class="fas fa-map-marker-alt"></i><b>Ubicación: Av. Pte. Perón 1796 - San Miguel - Aula del Subsuelo</b></p>
				<p><i class="fas fa-phone"></i><b>Atención de Lunes a Miércoles de 8:00 a 11:00 hs</b></p>
			</div>
		</div>
	</section>
{% endblock %}