{% extends 'AppBundle:Sitio:template.html.twig' %}

{% block section_home_extra %}interna{% endblock %}
{% block content %}
	<section class="intContent">
		<div class="container">
			<h3>Kinesiología</h3>
			<p>El Servicio de Kinesiología brinda  una atención adecuada, eficiente y de calidad a los pacientes que se encuentran internados  o ambulatorios.</p>
			<p>Nuestro equipo se enfoca en la Rehabilitación Musculoesquelética , haciendo corrección de dificultades funcionales del mismo, que incluye huesos, músculos, cartílagos, tendones, ligamentos , articulaciones , realizando fisio kinesioterapia respiratoria.</p>
			<p>Rehabilitación Pre y Post quirúrgica de lesiones óseas y articulares.</p>
			
			<h4>Atención a pacientes</h4>
			<div class="highlight address">
				<p><i class="fas fa-map-marker-alt"></i><b>Ubicación: Av. Pte. Perón 1796 - San Miguel - 3º piso</b></p>
				<p><i class="fas fa-phone"></i><b>Atención de Lunes a Viernes de 8:00 a 12:00 y de 14:00 a 18:00</b></p>
			</div>
			
		</div>
	</section>
{% endblock %}