{% extends 'AppBundle:Sitio:template.html.twig' %}

{% block section_home_extra %}interna{% endblock %}
{% block content %}
	<section class="intContent">
		<div class="container">
			<h3>Laboratorio</h3>
			<p>El laboratorio de análisis Clínico  funciona en los siguientes horarios:</p>
			
			
			<div class="highlight address">
				<p><i class="fas fa-map-marker-alt"></i><b>Ubicación: Av. Pte. Perón 1796 - San Miguel - Subsuelo</b></p>
				<p><i class="fas fa-phone"></i><b>Atención de Extracción:<br>
					Lunes a Viernes: 8:00 a 10:00 hs<br>
					Sábados: 8:00 a 10:00 hs</b></p>
				<p><i class="fas fa-phone"></i><b>Entrega de resultados:<br>
					Lunes a Viernes: 11:00 a 18:00hs<br>
					Sábados: 10:00 a 12:00hs</b></p>
			</div>

			<p>Pacientes de guardia que requieran estudios urgentes y pacientes internados las 24 horas del dia.</p>
			
			<div class="highlight">
				<p>URGENCIAS LAS 24 HS</p>
			</div>
		</div>
	</section>
{% endblock %}