{% extends 'AppBundle:Sitio:template.html.twig' %}

{% block section_home_extra %}interna{% endblock %}
{% block content %}
	<section class="intContent">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<h3>Misión, visión y valores</h3>
					<h4>Misión</h4>
					<p>Nuestra Misión es la de brindar atención médica polivalente a la población, basando la misma en la calidad de los servicios y la capacidad profesional, contando para ello con tecnología de avanzada y complejidad adecuada para atender las necesidades de nuestros pacientes. Todo ello en un marco en el que tanto los profesionales como el personal puedan ver satisfechas sus expectativas de crecimiento</p>
					
					<h4>Visión</h4>
					
					<p>Ser el Sanatorio que por calidad de atención, nivel profesional y complejidad, sea reconocido como la mejor alternativa de la zona, para la población, para los financiadores, para los profesionales que quieran prestar servicios en él y para el personal que en él se desempeñe.</p>
					
					<h4>Valores</h4>
					<ul>
						<li>Conducta ética</li>
						<li>Honestidad</li>
						<li>Respeto por la dignidad de las personas</li>
						<li>Profesionalidad</li>
						<li>Compromiso con el Paciente</li>
						<li>Calidad, Eficiencia y Seguridad</li>
						<li>Trabajo en equipo</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<img src="/images/internas/sanatorio-general-sarmiento-02.jpg" alt="Sanatorio General Sarmiento">		
				</div>
			</div>
		</div>
	</section>
{% endblock %}