{% extends 'AppBundle:Sitio:template.html.twig' %}

{% block section_home_extra %}interna{% endblock %}
{% block content %}
	<section class="intContent">
		<div class="container">
			<h3>Neonatología</h3>
			<div class="row">
				<div class="col-sm-8">
					<p>El sanatorio cuenta con un servicio de Neonatología de primer nivel. En ella se combina tecnología de avanzada, un equipo de profesionales con amplia experiencia y un equipo de enfermería profesionales altamente especializados para el diagnóstico y tratamiento de enfermedades del recién nacido.</p>
					<p>Contamos con 22 unidades de internación, totalmente equipadas para afrontar cualquier tipo de patología perinatal o neonatal entre unidad de terapia intensiva, aislamiento y cuidados intermedios.</p>
					<p>Contamos con consultorios externos de Neonatología para continuar con la atención ambulatoria de acuerdo a la complejidad y necesidad de cada neonato.<p>
					<p>Priorizar la seguridad de la atención y la participación de la familia en el cuidado de la madre, su hijo y la protección de sus derechos Promover el uso de prácticas efectivas y seguras por parte del equipo de salud desde que la madre ingresa a la maternidad hasta el alta.</p>
					<p>Nuestro servicio trabaja en equipo con obstetras, cirujanos infantiles, cardiólogos, neurocirujanos y otras especialidades.</p>
					<!--
					<div class="highlight">
						<p>Donec ac odio volutpat, rutrum lacus a, volutpat quam. Nullam et elit vel dui tempus porta ut non magna. Fusce ut accumsan arcu, in congue quam. Pellentesque nec leo laoreet, feugiat diam ac, iaculis turpis. In eget tempus tellus, ut imperdiet mauris. Etiam volutpat ipsum leo. Integer cursus eros sit amet elementum bibendum. Suspendisse maximus, est ac elementum sodales, metus leo facilisis felis, sit amet volutpat felis velit sit amet mauris.</p>
					</div>
					-->
				</div>
				<div class="col-sm-4">
					<img src="/images/internas/sanatorio-general-sarmiento-03.jpg" alt="Sanatorio General Sarmiento">
					<img src="/images/internas/sanatorio-general-sarmiento-04.jpg" alt="Sanatorio General Sarmiento">
				</div>
			</div>
		</div>
	</section>
{% endblock %}