{% extends 'AppBundle:Sitio:template.html.twig' %}

{% block section_home_extra %}interna{% endblock %}
{% block content %}
	<section class="intContent">
		<div class="container">
			<h3>Oftalmología</h3>
			<p>El Centro de Ojos Dr Rusz  cuenta con tecnología de avanzada para el diagnóstico y tratamiento tanto clínico como quirúrgico de sus pacientes, se brinda atención a bebes recién nacidos, niños y adultos.</p>
			<p>Se realizan consultas, estudios y urgencias en el horario de consultorio.</p>
			
			<h4>Estudios</h4>
			<ul>
				<li>Ecografía</li>
				<li>Ecometría</li>
				<li>Ecometria IOL master</li>
				<li>Test de lotmar</li>
				<li>Test Lancaster</li>
				<li>Campimetría computarizada</li>
				<li>Retinofluoresceinografia unilateral</li>
				<li>Paquimetria</li>
				<li>Paquimetria con fórmula modificada para glaucoma</li>
				<li>Curva diaria de Presión</li>
				<li>Fondo de ojos</li>
			</ul>
			<div class="highlight address">
				<p><i class="fas fa-map-marker-alt"></i><b>Ubicación: España 1190 2ºPiso - San Miguel</b></p>
				<p><i class="fas fa-phone"></i><b>Atención Martes, Miércoles y Viernes de 9:00 a 12:00 hs</b></p>
			</div>
		</div>
	</section>
{% endblock %}