{% extends 'AppBundle:Sitio:template.html.twig' %}

{% block section_home_extra %}interna{% endblock %}
{% block content %}
	<section class="intContent">
		<div class="container">
			<h3>Reseña institucional</h3>
			<div class="row">
				<div class="col-sm-8">
					<p>El Sanatorio General Sarmiento es una empresa dedicada a la prestación de servicios de salud desde hace más de 50 años. El objetivo que siempre nos guio estuvo orientado a contar con una estructura adecuada a la demanda, con complejidad y tecnología de punta. Es por ello que a lo largo de estos años la Institución ha tenido un importante crecimiento en lo edilicio y en la incorporación de nuevas tecnologías que lo posicionan como uno de los Sanatorios de mayor complejidad en la zona de influencia.</p>
					<p>El Sanatorio General Sarmiento inicia sus actividades en la Localidad de San Miguel, Provincia de Buenos Aires, en el año 1964.  Nace por la iniciativa de un grupo de profesionales de renombre en la zona, quienes, analizando las necesidades de la Ciudad, consideraron necesario ampliar la oferta de servicios de salud para dar respuesta a la creciente demanda. A lo largo de todos estos años, algunos de sus Socios fundadores se han ido retirando incorporándose otros profesionales pero más allá de estos cambios se ha mantenido intacto el objetivo de volcar los esfuerzos en pos de brindar  una atención polivalente de servicios de salud, bajo los valores de la ética y la calidad prestacional.
					<p>En la actualidad el Sanatorio cuenta con una superficie de 5.600 mts2 cubiertos, con 83 camas de internación, 9 camas de UTI, 14 de Neonatología, 5 quirófanos y 2 salas de parto, 1 sala de recuperación y un área quirúrgica para procedimiento de hemodinámia y otra para procedimientos de gastroenterología.</p>
					<!--
					<div class="highlight">
						<p>Donec ac odio volutpat, rutrum lacus a, volutpat quam. Nullam et elit vel dui tempus porta ut non magna. Fusce ut accumsan arcu, in congue quam. Pellentesque nec leo laoreet, feugiat diam ac, iaculis turpis. In eget tempus tellus, ut imperdiet mauris. Etiam volutpat ipsum leo. Integer cursus eros sit amet elementum bibendum. Suspendisse maximus, est ac elementum sodales, metus leo facilisis felis, sit amet volutpat felis velit sit amet mauris.</p>
					</div>
					-->
				</div>
				<div class="col-sm-4">
					
					<img src="/images/internas/sanatorio-general-sarmiento-02.jpg" alt="Sanatorio General Sarmiento">
					<img src="/images/internas/sanatorio-general-sarmiento-01.jpg" alt="Sanatorio General Sarmiento">
					
				</div>
			</div>
		</div>
	</section>
{% endblock %}