{% extends 'AppBundle:Sitio:template.html.twig' %}

{% block section_home_extra %}interna{% endblock %}
{% block content %}
	<section class="intContent">
		<div class="container">
			<h3>Terapia intensiva</h3>
			<div class="row">
				<div class="col-sm-8">
					<p>El Servicio está ubicado en el 2º piso del Sanatorio, cuenta con 9 camas, más una habitación para pacientes que requieren aislamiento.<br>Equipada por tecnología de última generación y un plantel médico altamente capacitado.</p>
					<!--
					<div class="highlight">
						<p>Donec ac odio volutpat, rutrum lacus a, volutpat quam. Nullam et elit vel dui tempus porta ut non magna. Fusce ut accumsan arcu, in congue quam. Pellentesque nec leo laoreet, feugiat diam ac, iaculis turpis. In eget tempus tellus, ut imperdiet mauris. Etiam volutpat ipsum leo. Integer cursus eros sit amet elementum bibendum. Suspendisse maximus, est ac elementum sodales, metus leo facilisis felis, sit amet volutpat felis velit sit amet mauris.</p>
					</div>
					-->
				</div>
				<div class="col-sm-4">
					<img src="/images/internas/sanatorio-general-sarmiento-02.jpg" alt="Sanatorio General Sarmiento">		
				</div>
			</div>
		</div>
	</section>
{% endblock %}