/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/* line 9, ../sass/bootstrap/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 19, ../sass/bootstrap/_normalize.scss */
body {
  margin: 0;
}

/* line 33, ../sass/bootstrap/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 54, ../sass/bootstrap/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 67, ../sass/bootstrap/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 77, ../sass/bootstrap/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 89, ../sass/bootstrap/_normalize.scss */
a {
  background-color: transparent;
}

/* line 98, ../sass/bootstrap/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 110, ../sass/bootstrap/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 118, ../sass/bootstrap/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 127, ../sass/bootstrap/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 136, ../sass/bootstrap/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 145, ../sass/bootstrap/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 154, ../sass/bootstrap/_normalize.scss */
small {
  font-size: 80%;
}

/* line 162, ../sass/bootstrap/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 170, ../sass/bootstrap/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 174, ../sass/bootstrap/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 185, ../sass/bootstrap/_normalize.scss */
img {
  border: 0;
}

/* line 193, ../sass/bootstrap/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 204, ../sass/bootstrap/_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 212, ../sass/bootstrap/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 221, ../sass/bootstrap/_normalize.scss */
pre {
  overflow: auto;
}

/* line 229, ../sass/bootstrap/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 252, ../sass/bootstrap/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 266, ../sass/bootstrap/_normalize.scss */
button {
  overflow: visible;
}

/* line 277, ../sass/bootstrap/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 290, ../sass/bootstrap/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 302, ../sass/bootstrap/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 311, ../sass/bootstrap/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 322, ../sass/bootstrap/_normalize.scss */
input {
  line-height: normal;
}

/* line 334, ../sass/bootstrap/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 346, ../sass/bootstrap/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 356, ../sass/bootstrap/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 367, ../sass/bootstrap/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 376, ../sass/bootstrap/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 387, ../sass/bootstrap/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 396, ../sass/bootstrap/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 405, ../sass/bootstrap/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 416, ../sass/bootstrap/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 421, ../sass/bootstrap/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 11, ../sass/bootstrap/_scaffolding.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/bootstrap/_scaffolding.scss */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/bootstrap/_scaffolding.scss */
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

/* line 27, ../sass/bootstrap/_scaffolding.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;
}

/* line 36, ../sass/bootstrap/_scaffolding.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 48, ../sass/bootstrap/_scaffolding.scss */
a {
  text-decoration: none;
}

/* line 58, ../sass/bootstrap/_scaffolding.scss */
figure {
  margin: 0;
}

/* line 65, ../sass/bootstrap/_scaffolding.scss */
img {
  vertical-align: middle;
}

/* line 70, ../sass/bootstrap/_scaffolding.scss */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 75, ../sass/bootstrap/_scaffolding.scss */
.img-rounded {
  border-radius: 6px;
}

/* line 82, ../sass/bootstrap/_scaffolding.scss */
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* line 95, ../sass/bootstrap/_scaffolding.scss */
.img-circle {
  border-radius: 50%;
}

/* line 102, ../sass/bootstrap/_scaffolding.scss */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

/* line 114, ../sass/bootstrap/_scaffolding.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* line 130, ../sass/bootstrap/_scaffolding.scss */
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* line 148, ../sass/bootstrap/_scaffolding.scss */
[role="button"] {
  cursor: pointer;
}

/* line 10, ../sass/bootstrap/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 14, ../sass/bootstrap/mixins/_clearfix.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 10, ../sass/bootstrap/_grid.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 10, ../sass/bootstrap/_grid.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 10, ../sass/bootstrap/_grid.scss */
  .container {
    width: 1170px;
  }
}

/* line 30, ../sass/bootstrap/_grid.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 14, ../sass/bootstrap/mixins/_clearfix.scss */
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.container-fluid:after {
  clear: both;
}

/* line 39, ../sass/bootstrap/_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 14, ../sass/bootstrap/mixins/_clearfix.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.row:after {
  clear: both;
}

/* line 11, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 27, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-1 {
  width: 8.33333%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-2 {
  width: 16.66667%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-3 {
  width: 25%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-4 {
  width: 33.33333%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-5 {
  width: 41.66667%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-6 {
  width: 50%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-7 {
  width: 58.33333%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-8 {
  width: 66.66667%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-9 {
  width: 75%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-10 {
  width: 83.33333%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-11 {
  width: 91.66667%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-12 {
  width: 100%;
}

/* line 55, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-1 {
  right: 8.33333%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-2 {
  right: 16.66667%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-4 {
  right: 33.33333%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-5 {
  right: 41.66667%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-7 {
  right: 58.33333%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-8 {
  right: 66.66667%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-10 {
  right: 83.33333%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-11 {
  right: 91.66667%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 45, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-1 {
  left: 8.33333%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-2 {
  left: 16.66667%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-4 {
  left: 33.33333%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-5 {
  left: 41.66667%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-7 {
  left: 58.33333%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-8 {
  left: 66.66667%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-10 {
  left: 83.33333%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-11 {
  left: 91.66667%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-1 {
  margin-left: 8.33333%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-2 {
  margin-left: 16.66667%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-4 {
  margin-left: 33.33333%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-5 {
  margin-left: 41.66667%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-7 {
  margin-left: 58.33333%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-8 {
  margin-left: 66.66667%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-10 {
  margin-left: 83.33333%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-11 {
  margin-left: 91.66667%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  /* line 27, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-1 {
    width: 8.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-2 {
    width: 16.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-4 {
    width: 33.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-5 {
    width: 41.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-7 {
    width: 58.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-8 {
    width: 66.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-10 {
    width: 83.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-11 {
    width: 91.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 55, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-1 {
    right: 8.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-2 {
    right: 16.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-4 {
    right: 33.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-5 {
    right: 41.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-7 {
    right: 58.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-8 {
    right: 66.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-10 {
    right: 83.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-11 {
    right: 91.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 45, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-1 {
    left: 8.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-2 {
    left: 16.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-4 {
    left: 33.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-5 {
    left: 41.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-7 {
    left: 58.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-8 {
    left: 66.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-10 {
    left: 83.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-11 {
    left: 91.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  /* line 27, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-1 {
    width: 8.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-2 {
    width: 16.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-4 {
    width: 33.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-5 {
    width: 41.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-7 {
    width: 58.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-8 {
    width: 66.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-10 {
    width: 83.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-11 {
    width: 91.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 55, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-1 {
    right: 8.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-2 {
    right: 16.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-4 {
    right: 33.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-5 {
    right: 41.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-7 {
    right: 58.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-8 {
    right: 66.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-10 {
    right: 83.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-11 {
    right: 91.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 45, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-1 {
    left: 8.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-2 {
    left: 16.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-4 {
    left: 33.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-5 {
    left: 41.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-7 {
    left: 58.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-8 {
    left: 66.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-10 {
    left: 83.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-11 {
    left: 91.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 27, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-1 {
    width: 8.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-2 {
    width: 16.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-4 {
    width: 33.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-5 {
    width: 41.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-7 {
    width: 58.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-8 {
    width: 66.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-10 {
    width: 83.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-11 {
    width: 91.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 55, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-1 {
    right: 8.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-2 {
    right: 16.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-4 {
    right: 33.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-5 {
    right: 41.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-7 {
    right: 58.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-8 {
    right: 66.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-10 {
    right: 83.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-11 {
    right: 91.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 45, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-1 {
    left: 8.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-2 {
    left: 16.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-4 {
    left: 33.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-5 {
    left: 41.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-7 {
    left: 58.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-8 {
    left: 66.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-10 {
    left: 83.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-11 {
    left: 91.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 3, ../sass/_base.scss */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

/* line 22, ../sass/_base.scss */
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

/* line 29, ../sass/_base.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
/* line 34, ../sass/_base.scss */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
/* line 47, ../sass/_base.scss */
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
/* line 53, ../sass/_base.scss */
.hamburger-inner::before {
  top: -10px;
}
/* line 57, ../sass/_base.scss */
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Spin
 */
/* line 6, ../sass/types/_spin.scss */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 10, ../sass/types/_spin.scss */
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}
/* line 15, ../sass/types/_spin.scss */
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 21, ../sass/types/_spin.scss */
.hamburger--spin.is-active {
  z-index: 40;
}
/* line 23, ../sass/types/_spin.scss */
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 28, ../sass/types/_spin.scss */
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}
/* line 35, ../sass/types/_spin.scss */
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* line 9, ../sass/screen.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 13, ../sass/screen.scss */
.home {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 600px;
  background-image: url(/images/banner-inicio/sanatorio-general-sarmiento-00.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 22, ../sass/screen.scss */
.home .info-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  text-align: right;
  background-color: #000;
}
/* line 29, ../sass/screen.scss */
.home .info-header span, .home .info-header ul {
  display: inline-block;
  line-height: 60px;
  color: #fff;
}
/* line 35, ../sass/screen.scss */
.home .info-header ul li {
  display: inline-block;
  margin-left: 20px;
}
/* line 38, ../sass/screen.scss */
.home .info-header ul li a {
  color: #fff;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom-color 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: border-bottom-color 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: border-bottom-color 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 42, ../sass/screen.scss */
.home .info-header ul li a:hover {
  border-bottom-color: #fff;
}
/* line 49, ../sass/screen.scss */
.home .header-container {
  display: flex;
  align-items: center;
}
/* line 53, ../sass/screen.scss */
.home header {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  -webkit-transition: background-color 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: background-color 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 60, ../sass/screen.scss */
.home header h1 {
  display: inline-block;
  margin: 0;
  padding: 30px 0 30px 60px;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: left center;
}
/* line 72, ../sass/screen.scss */
.home header nav {
  margin-left: auto;
}
/* line 75, ../sass/screen.scss */
.home header nav ul li {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: background-color 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: background-color 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 81, ../sass/screen.scss */
.home header nav ul li a {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
/* line 85, ../sass/screen.scss */
.home header nav ul li a [class*="fa-"] {
  position: relative;
  top: -1px;
  margin-left: 10px;
  font-size: 20px;
  vertical-align: middle;
}
/* line 93, ../sass/screen.scss */
.home header nav ul li .sub-nav-one {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 39px;
  left: 0;
  width: 200px;
  background-color: #11b3b8;
  -webkit-transition: visibility 0.25s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: visibility 0.25s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: visibility 0.25s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 102, ../sass/screen.scss */
.home header nav ul li .sub-nav-one li {
  display: block;
}
/* line 104, ../sass/screen.scss */
.home header nav ul li .sub-nav-one li:hover {
  background-color: #0f9ca1;
}
/* line 108, ../sass/screen.scss */
.home header nav ul li .sub-nav-one[class*="--visible"] {
  visibility: visible;
  opacity: 1;
}
/* line 113, ../sass/screen.scss */
.home header nav ul li .sub-nav-two {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 200px;
  width: 200px;
  background-color: #0f9ca1;
  -webkit-transition: visibility 0.25s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: visibility 0.25s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: visibility 0.25s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 122, ../sass/screen.scss */
.home header nav ul li .sub-nav-two li {
  display: block;
}
/* line 124, ../sass/screen.scss */
.home header nav ul li .sub-nav-two li:hover {
  background-color: #0d8689;
}
/* line 128, ../sass/screen.scss */
.home header nav ul li .sub-nav-two[class*="--visible"] {
  visibility: visible;
  opacity: 1;
}
/* line 133, ../sass/screen.scss */
.home header nav ul li .sub-nav-three {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 200px;
  width: 200px;
  background-color: #0d8689;
  -webkit-transition: visibility 0.25s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: visibility 0.25s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: visibility 0.25s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 142, ../sass/screen.scss */
.home header nav ul li .sub-nav-three li {
  display: block;
}
/* line 144, ../sass/screen.scss */
.home header nav ul li .sub-nav-three li:hover {
  background-color: #0b6f72;
}
/* line 148, ../sass/screen.scss */
.home header nav ul li .sub-nav-three[class*="--visible"] {
  visibility: visible;
  opacity: 1;
}
/* line 153, ../sass/screen.scss */
.home header nav ul li:hover {
  background-color: #11b3b8;
}
/* line 159, ../sass/screen.scss */
.home header.--sticky {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
/* line 165, ../sass/screen.scss */
.home .welcome {
  padding: 0 100px;
  width: 100%;
  text-align: right;
  z-index: 10;
}
/* line 170, ../sass/screen.scss */
.home .welcome p {
  font-size: 60px;
  font-weight: 900;
  line-height: 52px;
  text-transform: uppercase;
  color: #fff;
}
/* line 176, ../sass/screen.scss */
.home .welcome p span {
  display: block;
  font-weight: 100;
}
/* line 181, ../sass/screen.scss */
.home .welcome a {
  display: inline-block;
  margin-top: 40px;
  padding: 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #cc5251;
}
/* line 190, ../sass/screen.scss */
.home.interna {
  min-height: 0px;
  /*min-height: 600px;*/
  background-image: none;
}
/* line 195, ../sass/screen.scss */
.home:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: #016f79;
  background: -moz-linear-gradient(left, #016f79 0%, rgba(1, 111, 121, 0.4) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #016f79), color-stop(100%, rgba(1, 111, 121, 0.4)));
  background: -webkit-linear-gradient(left, #016f79 0%, rgba(1, 111, 121, 0.4) 100%);
  background: -o-linear-gradient(left, #016f79 0%, rgba(1, 111, 121, 0.4) 100%);
  background: -ms-linear-gradient(left, #016f79 0%, rgba(1, 111, 121, 0.4) 100%);
  background: linear-gradient(to right, #016f79 0%, rgba(1, 111, 121, 0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#016f79', endColorstr='#016f79', GradientType=1 );
}

/* line 214, ../sass/screen.scss */
.banners {
  padding: 100px 0;
}
/* line 216, ../sass/screen.scss */
.banners .bannerBox {
  padding: 20px;
  min-height: 205px;
  text-align: center;
}
/* line 220, ../sass/screen.scss */
.banners .bannerBox [class*="fa-"] {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}
/* line 224, ../sass/screen.scss */
.banners .bannerBox h2 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  color: #fefefe;
}
/* line 231, ../sass/screen.scss */
.banners .bannerBox h2 span {
  display: block;
  font-weight: 300;
}
/* line 236, ../sass/screen.scss */
.banners .bannerBox p {
  margin-top: 10px;
  font-weight: 300;
  line-height: 30px;
  color: #fefefe;
}
/* line 242, ../sass/screen.scss */
.banners .bannerBox a {
  display: inline-block;
  margin-top: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fefefe;
  border-bottom: 1px solid #fefefe;
}
/* line 250, ../sass/screen.scss */
.banners .bannerBox.one {
  background-color: #01b3b7;
}
/* line 253, ../sass/screen.scss */
.banners .bannerBox.two {
  background-color: #01b3b7;
}
/* line 256, ../sass/screen.scss */
.banners .bannerBox.three {
  background-color: #01b3b7;
}
/* line 259, ../sass/screen.scss */
.banners .bannerBox.four {
  background-color: #01b3b7;
}

/* line 265, ../sass/screen.scss */
.tips {
  padding: 100px 0;
  background-color: #11b3b8;
}
/* line 268, ../sass/screen.scss */
.tips h3 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
/* line 276, ../sass/screen.scss */
.tips p {
  padding: 0 200px;
  margin-top: 40px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #fefefe;
}

/* line 287, ../sass/screen.scss */
.location h3 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #01b3b7;
}
/* line 295, ../sass/screen.scss */
.location .map {
  width: 100%;
  height: 600px;
}

/* line 301, ../sass/screen.scss */
.intContent {
  padding: 100px 0;
}
/* line 303, ../sass/screen.scss */
.intContent h3 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #01b3b7;
}
/* line 312, ../sass/screen.scss */
.intContent h4, .intContent h5 {
  margin: 20px 0;
  font-size: 30px;
  text-transform: uppercase;
  color: #464646;
}
/* line 318, ../sass/screen.scss */
.intContent h5 {
  font-size: 22px;
  text-transform: none;
}
/* line 323, ../sass/screen.scss */
.intContent p, .intContent ul {
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
}
/* line 328, ../sass/screen.scss */
.intContent img {
  display: block;
  margin-top: 20px;
  width: 100%;
}
/* line 333, ../sass/screen.scss */
.intContent .highlight {
  margin-top: 40px;
  padding: 20px 40px;
  background-color: #102135;
}
/* line 337, ../sass/screen.scss */
.intContent .highlight p, .intContent .highlight ul {
  margin: 20px 0;
  color: #fff;
}
/* line 341, ../sass/screen.scss */
.intContent .highlight.address {
  background-color: #11b3b8;
}
/* line 343, ../sass/screen.scss */
.intContent .highlight.address [class*="fa-"] {
  margin-right: 10px;
  font-size: 20px;
}
/* line 349, ../sass/screen.scss */
.intContent .item-especialidad {
  padding: 20px;
  border-bottom: 2px solid #464646;
}
/* line 352, ../sass/screen.scss */
.intContent .item-especialidad.destacado {
  background-color: #11b3b8;
}
/* line 354, ../sass/screen.scss */
.intContent .item-especialidad.destacado h4 {
  font-size: 20px;
  font-weight: 900;
}
/* line 358, ../sass/screen.scss */
.intContent .item-especialidad.destacado h4, .intContent .item-especialidad.destacado p, .intContent .item-especialidad.destacado ul {
  color: #fff;
}
/* line 363, ../sass/screen.scss */
.intContent .obras-sociales {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  -moz-column-gap: 20px;
  text-align: center;
}
/* line 372, ../sass/screen.scss */
.intContent .obras-sociales li img {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 100px;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* line 380, ../sass/screen.scss */
.intContent .obras-sociales li span {
  font-size: 20px;
  font-weight: 600;
}

/* line 388, ../sass/screen.scss */
footer {
  padding: 100px 0;
  text-align: center;
  background-color: #102135;
}
/* line 392, ../sass/screen.scss */
footer h3 {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
/* line 399, ../sass/screen.scss */
footer ul, footer a {
  line-height: 30px;
}
/* line 402, ../sass/screen.scss */
footer ul {
  margin-top: 20px;
  color: #79848a;
}
/* line 406, ../sass/screen.scss */
footer a {
  color: #fefefe;
  border-bottom: 1px solid #fefefe;
}
/* line 412, ../sass/screen.scss */
footer .footer-nav li a {
  text-transform: uppercase;
  border-bottom: none;
}
/* line 419, ../sass/screen.scss */
footer form input, footer form textarea {
  display: block;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  color: #fefefe;
  border: 2px solid #fefefe;
  background-color: transparent;
}
/* line 427, ../sass/screen.scss */
footer form input:focus, footer form input:active, footer form textarea:focus, footer form textarea:active {
  outline: 0;
}
/* line 431, ../sass/screen.scss */
footer form button {
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: #cc5251;
}

/* line 443, ../sass/screen.scss */
.sub-footer {
  padding: 40px 0;
  text-align: center;
  background-color: #01b3b7;
}
/* line 447, ../sass/screen.scss */
.sub-footer p {
  color: #f3f3f3;
}
