@import "compass/reset";
@import "compass/css3";
@import "_bootstrap";
@import "_hamburgers";

$animation: cubic-bezier(.25,.8,.25,1);
$green: #11b3b8;

body {
	font-family: 'Roboto', sans-serif;
}

.home {
	display: flex;
	align-items:center;
	position: relative;
	min-height: 600px;
	background-image: url(/images/banner-inicio/sanatorio-general-sarmiento-00.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	.info-header {
		position: absolute;
		top: 0;
		width: 100%;
		height: 60px;
		text-align: right;
		background-color: #000;
		span, ul {
			display: inline-block;
			line-height: 60px;
			color: #fff;
		}
		ul {
			li {
				display: inline-block;
				margin-left: 20px;
				a {
					color: #fff;
					border-bottom: 1px solid transparent;
					@include transition(border-bottom-color .25s $animation);
					&:hover {
						border-bottom-color: #fff;
					}
				}
			}
		}
	}
	.header-container {
		display: flex;
		align-items: center;
	}
	header {
		position: absolute;
		top: 0px;
		width: 100%;
		background-color: rgba(00,00,00,.5);
		z-index: 20;
		@include transition(background-color .25s $animation);
		h1 {
			display: inline-block;
			margin: 0;
			padding: 30px 0 30px 60px;
			font-size: 20px;
			text-transform: uppercase;
			color: #fff;
			background-image: url(../images/logo.png);
			background-repeat: no-repeat;
			background-size: 50px;
			background-position: left center;
		}
		nav {
			margin-left: auto;
			ul {
				li {
					position: relative;
					display: inline-block;
					padding: 10px 20px;
					cursor: pointer;
					@include transition(background-color .25s $animation);
					a {
						font-size: 14px;
						text-transform: uppercase;
						color: #fff;
						[class*="fa-"] {
							position: relative;
							top: -1px;
							margin-left: 10px;
							font-size: 20px;
							vertical-align: middle;
						}
					}
					.sub-nav-one {
						visibility: hidden;
						opacity: 0;
						position: absolute;
						top: 39px;
						left: 0;
						width: 200px;
						background-color: $green;
						@include transition(visibility .25s $animation, opacity .25s $animation);
						li {
							display: block;
							&:hover {
								background-color: darken($green, 5%);
							}
						}
						&[class*="--visible"] {
							visibility: visible;
							opacity: 1;
						}
					}
					.sub-nav-two {
						visibility: hidden;
						opacity: 0;
						position: absolute;
						top: 0;
						left: 200px;
						width: 200px;
						background-color: darken($green, 5%);
						@include transition(visibility .25s $animation, opacity .25s $animation);
						li {
							display: block;
							&:hover {
								background-color: darken($green, 10%);
							}
						}
						&[class*="--visible"] {
							visibility: visible;
							opacity: 1;
						}
					}
					.sub-nav-three {
						visibility: hidden;
						opacity: 0;
						position: absolute;
						top: 0;
						left: 200px;
						width: 200px;
						background-color: darken($green, 10%);
						@include transition(visibility .25s $animation, opacity .25s $animation);
						li {
							display: block;
							&:hover {
								background-color: darken($green, 15%);
							}
						}
						&[class*="--visible"] {
							visibility: visible;
							opacity: 1;
						}
					}
					&:hover {
						background-color: $green;
					}
				}
			}
		}
		&.--sticky {
			position: fixed;
			top: 0;
			background-color: rgba(00,00,00,.9); 
		}
	}
	.welcome {
		padding: 0 100px;
		width: 100%;
		text-align: right;
		z-index: 10;
		p {
			font-size: 60px;
			font-weight: 900;
			line-height: 52px;
			text-transform: uppercase;
			color: #fff;
			span {
				display: block;
				font-weight: 100;
			}
		}
		a {
			display: inline-block;
			margin-top: 40px;
			padding: 20px;
			text-transform: uppercase;
			color: #fff;
			background-color: #cc5251;
		}
	}
	&.interna {
		min-height: 0px;
		/*min-height: 600px;*/
		background-image: none;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		background: rgba(1,111,121,1);
		background: -moz-linear-gradient(left, rgba(1,111,121,1) 0%, rgba(1,111,121,0.4) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,111,121,1)), color-stop(100%, rgba(1,111,121,0.4)));
		background: -webkit-linear-gradient(left, rgba(1,111,121,1) 0%, rgba(1,111,121,0.4) 100%);
		background: -o-linear-gradient(left, rgba(1,111,121,1) 0%, rgba(1,111,121,0.4) 100%);
		background: -ms-linear-gradient(left, rgba(1,111,121,1) 0%, rgba(1,111,121,0.4) 100%);
		background: linear-gradient(to right, rgba(1,111,121,1) 0%, rgba(1,111,121,0.4) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#016f79', endColorstr='#016f79', GradientType=1 );
	}
}

.banners {
	padding: 100px 0;
	.bannerBox {
		padding: 20px;
		min-height: 205px;
		text-align: center;
		[class*="fa-"] {
			font-size: 50px;
			color: rgba(255,255,255,0.8);
		}
		h2 {
			margin-top: 10px;
			font-size: 24px;
			font-weight: 900;
			line-height: 24px;
			text-transform: uppercase;
			color: #fefefe;
			span {
				display: block;
				font-weight: 300;
			}
		}
		p {
			margin-top: 10px;
			font-weight: 300;
			line-height: 30px;
			color: #fefefe;
		}
		a {
			display: inline-block;
			margin-top: 20px;
			font-weight: 600;
			text-transform: uppercase;
			color: #fefefe;
			border-bottom: 1px solid #fefefe;
		}
		&.one {
			background-color: #01b3b7;
		}
		&.two {
			background-color: #01b3b7;
		}
		&.three {
			background-color: #01b3b7;
		}
		&.four {
			background-color: #01b3b7;
		}
	}
}

.tips {
	padding: 100px 0;
	background-color: $green;
	h3 {
		font-size: 40px;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #fff;
	}
	p {
		padding: 0 200px;
		margin-top: 40px;
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		color: #fefefe;
	}
}

.location {
	h3 {
		font-size: 40px;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #01b3b7;
	}
	.map {
		width: 100%;
		height: 600px;
	}
}

.intContent {
	padding: 100px 0;
	h3 {
		margin-bottom: 20px;
		font-size: 40px;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #01b3b7;
	}
	h4, h5 {
		margin: 20px 0;
		font-size: 30px;
		text-transform: uppercase;
		color: #464646;
	}
	h5{
		font-size: 22px;
		text-transform: none;
	}

	p, ul {
		margin-top: 20px;
		font-size: 16px;
		line-height: 30px;
	}
	img {
		display: block;
		margin-top: 20px;
		width: 100%;
	}
	.highlight {
		margin-top: 40px;
		padding: 20px 40px;
		background-color: #102135;
		p, ul {
			margin: 20px 0;
			color: #fff;
		}
		&.address {
			background-color: $green;
			[class*="fa-"] {
				margin-right: 10px;
				font-size: 20px;
			}
		}
	}
	.item-especialidad {
		padding: 20px;
		border-bottom: 2px solid #464646;
		&.destacado {
			background-color: $green;
			h4 {
				font-size: 20px;
				font-weight: 900;
			}
			h4, p, ul {
				color: #fff;
			}
		}
	}
	.obras-sociales {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 20px;
		column-gap: 20px;
		-moz-column-gap: 20px;
		text-align: center;
		li {
			img {
				display: inline-block;
				margin: 0 10px 0 0;
				width: 100px;
				height: auto;
				-webkit-filter: grayscale(100%);
    			filter: grayscale(100%);
			}
			span {
				font-size: 20px;
				font-weight: 600;
			}
		}
	}
}

footer {
	padding: 100px 0;
	text-align: center;
	background-color: #102135;
	h3 {
		font-size: 40px;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #fff;
	}
	ul, a  {
		line-height: 30px;
	}
	ul {
		margin-top: 20px;
		color: #79848a;
	}
	a {
		color: #fefefe;
		border-bottom: 1px solid #fefefe;
	}
	.footer-nav {
		li {
			a {
				text-transform: uppercase;
				border-bottom: none;
			}
		}
	}
	form {
		input, textarea {
			display: block;
			margin-top: 20px;
			padding: 20px;
			width: 100%;
			color: #fefefe;
			border: 2px solid #fefefe;
			background-color: transparent;
			&:focus, &:active {
				outline: 0;
			}
		}
		button {
			display: inline-block;
			margin-top: 20px;
			padding: 20px;
			text-transform: uppercase;
			color: #fff;
			border: none;
			background-color: #cc5251;
		}
	}
}

.sub-footer {
	padding: 40px 0;
	text-align: center;
	background-color: #01b3b7;
	p {
		color: #f3f3f3;
	}
}